* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Noto Sans JP", sans-serif;
}

.container {
    width: 90vw;
    margin: auto;
    max-width: 1200px;

}

header {
    .container {
        .site-title {
            font-size: calc(16px + 0.5vw);
            font-weight: 500;
        }
    }
}

main {
    position: relative;

    .container {
        position: relative;

        .guide {
            position: fixed;
            top: 15%;
            left: 15%;
            margin: auto;
            width: 50vw;
            max-width: 600px;

            h1 {
                font-size: calc(24px + 2vw);
                font-weight: 900;
                margin-bottom: 5vw;
            }

            p {
                line-height: 2;
            }

            .scroll-nav {
                position: relative;
                width: 2px;
                height: 100px;
                margin: auto;
                background-color: #eaeaea;
                margin-top: 100px;

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #333;
                    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                    animation-name: flow;
                    animation-duration: 2s;
                    animation-iteration-count: infinite;
                }
            }
        }

        .mock-list {
            min-height: 100vh;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding-left: 50%;
            padding-top: 50px;
            padding-bottom: 50px;

            a {
                display: block;
                width: 100%;
                text-decoration: none;
                color: #111;
                border: 1px solid #eaeaea;
                margin-bottom: 30px;

                .mock {
                    width: 100%;

                    .image-wrapper {
                        width: 100%;

                        img {
                            width: 100%;
                            aspect-ratio: 16/9;
                            object-fit: contain;
                        }
                    }
                }

                .mock-info {
                    padding: 0px 10px;

                    p.title {
                        padding: 10px 0px;
                        font-size: calc(14px + 0.4vw);
                        font-weight: 500;
                    }

                    p.text {
                        padding: 10px 0px;
                        font-size: calc(12px + 0.2vw);
                    }
                }
            }
        }
    }
}

@keyframes flow {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    50% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    100% {
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    }
}

.flow {
    animation-name: flow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}