/* animation-settings */
@keyframes flow {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    50% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    100% {
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    }
}