main.common {
    section.common {
        padding-top: 25px;
        background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);

        @media (max-width:$small) {
            padding-top: 15px !important;
        }

        .container {
            padding: 2em;
            background-color: #fff;
            border-radius: 15px;

            @media (max-width:$small) {
                padding: 1em;
            }

            h1 {
                font-size: calc(24px + 0.4vw) !important;
                margin: 25px 0px;
            }

            h2 {
                font-size: calc(16px + 0.4vw) !important;
                margin: 20px 0px;
            }

            h3 {
                font-size: calc(14px + 0.2vw) !important;
                margin: 15px 0px;
            }

            .bg-1 {
                position: relative;
                padding: 10px 0px;
                padding-left: 1em;
                margin: 1em 0;
                height: max-content;
                width: 100%;
                background: linear-gradient(-45deg, transparent 25%, var(--color_gray) 25%, var(--color_gray) 50%, transparent 50%, transparent 75%, var(--color_gray) 75%, var(--color_gray));
                background-clip: padding-box;
                background-size: 4px 4px;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 4px;
                    height: 100%;
                    display: block;
                    background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
                }
            }

            p {
                line-height: 2;
                font-size: calc(12px + 0.2vw) !important;
            }

            ul {
                padding-left: 2em;

                li {
                    line-height: 2;
                    font-size: calc(12px + 0.2vw) !important;
                }
            }

        }
    }
}