main.common {
    section.common {
        padding-top: 25px;
        background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);

        @media (max-width:$small) {
            padding-top: 15px !important;
        }

        .container {
            padding: 2em;
            background-color: #fff;
            border-radius: 15px;

            @media (max-width:$small) {
                padding: 1em;
            }

            h1 {
                font-size: calc(24px + 0.4vw) !important;
                margin: 25px 0px;
            }

            h2 {
                font-size: calc(16px + 0.4vw) !important;
                margin: 20px 0px;
            }

            h3 {
                font-size: calc(14px + 0.4vw) !important;
                margin: 15px 0px;
            }

            p {
                line-height: 2;
                font-size: calc(12px + 0.2vw) !important;
            }

            ul {
                padding-left: 2em;

                li {
                    line-height: 2;
                    font-size: calc(12px + 0.2vw) !important;
                }
            }
        }
    }
}