/* サポート内容 */
main.support {
    section.support {
        .container {
            .support {
                display: block;

                h2 {
                    position: relative;
                    width: max-content;

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        height: 3px;
                        width: 100%;
                        background-image: linear-gradient(to right, $impact-color 0%, #fee140 100%);
                    }

                    @media(max-width: $small) {
                        margin-top: 10px;
                    }
                }

                .left-container,
                .right-container {
                    width: 100%;
                }

                .left-container {
                    p {
                        span {
                            color: $impact-color;
                        }
                    }
                }

                .right-container {
                    justify-content: space-around;

                    .item {
                        width: 49%;
                        min-width: 300px;
                        border: 1px solid #eaeaea;
                        margin-bottom: 25px;

                        @media (max-width: $small) {
                            width: 95%;
                        }

                        .head {
                            width: 100%;
                            margin: 0px;
                            padding: 10px 0px;
                            border-bottom: 1px solid #eaeaea;

                            svg {
                                height: 30px;
                                margin: 0px 10px;
                                margin-top: 4px;
                            }

                            h3 {
                                font-weight: 500;
                                font-size: calc(16px + 0.2vw);
                                margin-left: 10px;
                            }
                        }

                        .body {
                            padding: 10px 20px;

                            p {
                                margin-bottom: 0px;

                                span {
                                    color: $impact-color;
                                }
                            }

                        }
                    }

                    .item.price {
                        border: 0px solid #eaeaea;
                        border-bottom-width: 1px;
                        display: flex;
                        justify-content: end;
                        align-items: center;

                        .body {
                            p {
                                font-size: calc(22px + 0.4vw);
                                font-weight: 900;
                            }

                            p.price {
                                width: 100%;
                                text-align: right;

                                span.price {
                                    font-size: calc(24px + 1vw);
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}